
.nav {
	background-color: #eee;
}

.nav h3 {
	position: relative;
	right: 45px;
}

.nav a {
	font-size: 18px;
	font-color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	top: 22px;	
}

.nav li {
	display: inline;
}

.jumbotron .container-fluid {
	height: 800px;
	background-image:url(/bear-draw.jpg); 
	background-repeat: no-repeat;
	background-origin: content-box;
	
}

.jumbotron button {
	position: relative;
	left: 750px;
	top: 75px;
}


.jumbotron {
	background-color: #ffffff;
	padding-top: 38px;
	padding-bottom: 38px;
	padding-left: 100px;
	padding-right: 20px;
}

.footer li {
	display: inline;
}

.footer a {
font-size: 16px;
	font-color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	top: 15px;
}

.footer {
	background-color: #eee;
	padding-top: 10px;
}